<div class="p_f_form"><%= form_for @potluck_food do |f|%>

<%= f.label :food_category_id%>
<%= f.collection_select :food_category_id, @food_categories, :id, :name %> </br>

<%= f.label :potluck_id%>
<%= f.collection_select :potluck_id, @potlucks, :id, :description %> </br>

<%= f.label :user_id%>
<%= f.collection_select :user_id, @users, :id, :name %> </br>

<%= f.submit "Attend this Potluck" %>
<% end %>
</div>
